@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700;800;900&display=swap');

/*================================================================ MY CODE ===============================================================*/

body{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.8rem;
    --gold-color: rgb(255, 217, 0);
    --golden-color: goldenrod;
    --yellow-color: rgb(255, 238, 0);
    --para-color: rgba(0, 0, 0, 0.759);
    --black-color: black;
    --grey-color: grey;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 800 !important;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
    color: black !important;
}

/*===== Navbar ======*/

.btn-nav{
    background: linear-gradient(360deg, var(--yellow-color), rgb(255, 221, 0));
    border-radius: 100px;
    border: none;
    font-weight: 800;
    color: #fff;
}

.btn-nav:hover{
    transform: translateX(4px);
    background: linear-gradient(360deg, rgb(255, 221, 0), var(--golden-color));

}

.navbar{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.103);
}

.navbar-brand:hover{
    background: -webkit-linear-gradient(360deg, rgb(255, 221, 0), var(--golden-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-bars{
    font-size: 1.4rem;
    font-weight: 900;
    transition: all .4s ease;
}

.fa-bars:hover{
    color: var(--golden-color);
    transition: all .4s ease;
}

a.nav-link.active{
    background: -webkit-linear-gradient(var(--yellow-color), var(--golden-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*=== Navbar M queries ===*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .navbar{
        width: 100vw;
    }

    .fa-bars{
        font-size: 1.5rem;
    }

    .nav-item .nav-link{
        font-size: 1.4rem;
    }

    .navbar-brand{
        font-size: 1.7rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .navbar{
        width: 100vw;
    }

    .fa-bars{
        font-size: 1.7rem;
    }

    .nav-item .nav-link{
        font-size: 1.4rem;
    }

    .navbar-brand{
        font-size: 1.7rem;
    }
}


/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .navbar{
        width: 100vw;
    }

    .nav-item .nav-link{
        font-size: 1.8rem;
    }

    .navbar-brand{
        font-size: 2.1rem
    }
}


/*============== Navbar Ends =============*/



/*=============================== Homme Section ==================================*/
section{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, rgba(255, 217, 0, 0.432), rgba(255, 255, 0, 0.273));
    z-index: -1;

}


.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn{
    padding: 14px 21px;
    transition: all 0.4s ease;
}

.btn-main{
    background: linear-gradient(360deg, var(--golden-color), var(--gold-color));
    border-radius: 100px;
    border: none;
    font-weight: 800;
    color: #fff;
}

.btn-main:hover{
    transform: translateY(-4px);
    background: linear-gradient(90deg, var(--gold-color), var(--golden-color))
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
}

#home h1{
    color: var(--black-color) !important;
}

#home p{
    color: var(--para-color) !important;
    font-weight: 800 !important;
    font-size: 1.5rem !important;
}


/*#home*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #home{
        width: 100vw;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #home{
        width: 100vw;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #home{
        width: 100vw;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #home{
        width: 100vw;
    }
}




/*=============================== Homme Section Ends ==================================*/


/*=============================== Servcies Section ==================================*/
#services{
    background-color: var(--para-color);
}

.section-intro .divider{
    height: 5px;
    width: 121px;
    background: linear-gradient(90deg, var(--golden-color), var(--para-color));
    margin: 14px auto;
}

span{
    color: var(--golden-color);
}

.section-intro p{
    font-weight: 800 !important;
    color: var(--gold-color);
}

.servcies{
    box-shadow: 0 12px 12px var(--black-color);
    transition: all .4s ease;
}

.servcies:hover{
    transition: all .4s ease;
    transform: translateY(-7px);
}

.servcies p{
    font-size: 1.4rem;
    font-weight: 700;
}

.servcies .service{
    border-bottom: 4px solid black;
}

.service i{
    font-size: 1.4rem;
    color: var(--gold-color);
}

.service .skill:hover{
    color: var(--para-color)
}

/*#services*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #services{
        width: 100vw;
    }


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #services{
        width: 100vw;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #services{
        width: 100vw;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #services{
        width: 100vw;
    }
}

/*=============================== Services Section Ends ==================================*/



/*=============================== About Section ==================================*/
.cLang{
    font-size: 1.2rem;
    font-weight: 800;
}

.framLib{
    font-size: 1.2rem;
    font-weight: 800;
}


/*#about*/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #about{
        width: 100vw;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #about{
        width: 100vw;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #about{
        width: 100vw;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #about{
        width: 100vw;
    }
}

/*=============================== About Section Ends ==================================*/

